* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
section {
    height: 100vh;
    width: 100%;
}
nav {
    position: absolute;
    width: 100%;
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    z-index: 9999;
    background: white;
}

nav h1 {
    margin-left: 3em;
    color: #000000;
}

nav ul {
    display: flex;
    height: 100%;
    width: 60%;
    justify-content: right;
    align-items: center;
}

nav li {
    margin-right: 3em;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

nav .hover {
    margin-right: 3em;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transition: .1s ease;

}

nav a {    
    color: rgb(110, 107, 107);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .1s ease;
}

nav a i {
    padding: 0;
}


nav .hover:hover {
    background-color: rgba(115, 115, 115, .3);
}

nav .hover:active {
    background-color: rgba(115, 115, 115, .5);
}

nav a:hover {
    color: rgb(52, 52, 52);
}

nav a:active {
    color: black;
}



/* !HOME PAGE ========================================================================= */

#HomePage {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #15c2e1;
    overflow-y: hidden;
}

.bg-img {
    position: absolute;
    top: -350px;
    left: -200px;
    background-position: center center;
    background-size: cover;
    z-index: 1;
}

.coral{
    position: absolute;
    bottom: -100px;
    left: -100px;
    width: 1800px;
    z-index: 4;
}

.turtle{
    position: absolute;
    bottom: -100px;
    width: 1550px;
    z-index: 3;
}

.text {
    position: absolute;
    top: calc(50% - 250px);
    left: calc(50% - 520px);
    color: #ffffff;
    z-index: 2;
    text-align: center;
}

.text h2 {
    font-size: 100px;
    font-weight: 200;
}

.text h1 {
    font-size: 150px;
    font-weight: 900;
}

.parallax {
    pointer-events: none;
    transition: .45s cubic-bezier(.2, .49, .32, .99);
}